
body {
  font-size: 14px;
  background-color: #fdfdfd;
  font-family: "Josefin Sans", sans-serif;
}

header {
  text-align: center;
  color:black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
